BOT_TOKEN=
SPREADSHEET_ID=12aHPQbN65UBk6vlxiDB_nCg9V_xSbrbms70X3xqABKQ
SHEET_GID=58485295
LOCAL_XLSX=Список для Эдтех.xlsx
# На Oracle Cloud (за рубежом) прокси обычно не нужен — оставьте пустым
TELEGRAM_PROXY=
